<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Publicly Traded ATX</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/sandstone/bootstrap.min.css" rel="stylesheet" integrity="sha384-XNRTCesHENaXoVVjLx3Vm0rmwmS4W2g5w0xwZQIDPDvT4IDa/HRIvwb8CoH7/JPW"
        crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>

    <div class="container">
        <div class="jumbotron text-center">
            <h1>
                <strong>A visual financial exploration of Austin’s top publicly traded companies.</strong><hr>
            </h1>
            <p>

                    We would like to give you an opportunity to look at the Austin business environment
                     (as defined by the top 30 publicly traded companies) and explore the past 3 years of
                      trading data, revenue and market cap data.  
                    
                    Our desire is to give you a sandbox to play in that will help you  
                    better understand the health of our local economy vis a vis our publicly traded companies. 
                    </p>
        </div>
        <div class="sigline">
                <p>| University of Texas at Austin : Data Analytics & Visualization |</p>
            <p>Project Team: Mark Groner, Jiji Jacob, David W. Jones </p>
            
        </div>
        
</body>

</html>