<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> {{companyTicker}} - Overview </title>
  <script src="https://unpkg.com/simple-statistics@5.0.0/dist/simple-statistics.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/sandstone/bootstrap.min.css" rel="stylesheet" integrity="sha384-XNRTCesHENaXoVVjLx3Vm0rmwmS4W2g5w0xwZQIDPDvT4IDa/HRIvwb8CoH7/JPW"
      crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">

  <style>
    body {
      background-color: unset;
    }

    th,
    td {
      text-align: left;
      padding: 8px;
    }

    tbody>tr:nth-child(even) {
      background-color: #f2f2f2 !important;
    }

    tbody>tr:nth-child(odd) {
      background-color: #fff !important;
    }
  </style>
</head>

<body>
  <div class="container">
    ion -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="../.."> Publicly Traded ATX </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="..\..">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Company Profiles
                <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      <div class="jumbotron text-center">
          <h1>
              <strong>{{ companyName }} - Financial Overview</strong>
              <hr>
          </h1>
          <p style="font-family:Georgia, 'Times New Roman', Times, serif">
              {{ companyDescription }}
          </p>
          <p>
          </p>
      </div>
      <div class="row">
        <div class="col-xs-8 col-md-4">
          <h2> Company Profile </h2>
          <hr class="hr-data-comparison">
          <p> <strong> Website: </strong>  <a href="http://{{ companyWebsite }}" target="_blank"> {{ companyWebsite }} </a> </p>
          <p> <strong> Address: </strong>  {{ companyAddress }} </p>
          <p> <strong> Year Established: </strong>  {{ companyYear }} </p>
          <p> <strong> Industry: </strong>  {{ companyIndustry }} </p>
          <p> <strong> Stock Ticker: </strong>  {{ companyTicker }} </p>
          <p> <strong> Stock Exchange: </strong>  {{ companyExhange }} </p>
          <p> <strong> Market Cap: </strong>  {{ companyMarketCap }} </p>
          <p> <strong> CEO: </strong>  {{ companyCEO }} </p>
          <p> <strong> Total Employees: </strong>  {{ companyTotalStaff }} </p>
          <p> <strong> Austin Employees: </strong>  {{ companyAustinStaff }} </p>
          <hr class="hr-data-comparison">
          <div class="well">
            <p style="font-family:Georgia, 'Times New Roman', Times, serif">
                Select New Company by Ticker:
            </p>
              <select id="selDataset" onChange='window.open(this.value, "_self")'></select>
          </div>
        </div>
        <div class="col-xs-12 col-md-1"></div>
        <div class="row side-plots-buffer"></div>
        <div class="col-xs-12 col-md-7 side-plots">
          <h2 > Stock Performance </h2>
          <hr>
          <div id="plot"></div>
        </div>
      </div>
      <br />
      <div class="row">
        <h2> Recent Press </h2> <br />
      </div>
      <div class="row">
        <div class='article-list'> </div>
      </div>
    </div>
  </div>


  <script src="/static/js/company.js"></script>
</body>

</html>
