body {
  background-color: #f6f5f3;
}



.jumbotron {
  margin-top: 5%;
  background-color: #85bb65;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.col-md-12 {
  font-size: 14pt;
  margin-top: 5%;
  margin-bottom: 5%;
}

p {
  font-size: 14pt;
  margin-left: 6%;
  margin-right: 6%;
}
.sigline{
  color: #cc5500;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding-right: 30pt;
}

.btn-group button{
  background-color: slategrey;
}
/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

p {
  font-weight: normal;
}


#toolbar {
  text-align: center;
}
/* set a top margin for signature line */
/* #map-container {
  position:relative;
} */
/* #map {position: absolute; top:9%; bottom:20%; left: 10%; width:80%;} */
#map {
  /* width: 80vw; */
  height: 50vh;
  top:9%;
  bottom: 20%;
}


body {
    font: 10px sans-serif;
}

text {
    fill: #000;
}

path {
    fill: none;
    stroke-width: 1;
}

path.ohlc {
    stroke: #000000;
    stroke-width: 1;
}

path.ohlc.up {
    stroke: #00AA00;
}

path.ohlc.down {
    stroke: #FF0000;
}

.ma-0 path.line {
    stroke: #1f77b4;
}

.ma-1 path.line {
    stroke: #aec7e8;
}

path.volume {
    fill: #EEEEEE;
}

.crosshair {
    cursor: crosshair;
}

.crosshair path.wire {
    stroke: #DDDDDD;
    stroke-dasharray: 1, 1;
}

.crosshair .axisannotation path {
    fill: #DDDDDD;
}